.login-clase1{
    background: #027495;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

Button{
    margin-top: 20px;
}

.register{
    margin-left: 20px;
    background: green !important;
}
.register:hover{
    background: #03ad03 !important;
}
